.build*
_build*
**/.build*/*
**/_build*/*
*/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
test_mii_singlethread/images/
doc/.doxygen/
doc/.sources/
doc/Doxyfile-e
__generated*
toplevel_doc/*
*~
#*#
*.vcd
*.log
doc/*/.doxygen/*
doc/*/.linked_dirs/*
doc/*/.sources/*
doc/*/.support/*
.settings/*
.DS_Store
*.pyc
*.xmt